html, body {
  min-width: 320px;
}
.layout {
  padding-top: 20px;
}
.title h2 {
  margin-bottom: 20px;
}


@media (min-width: 768px) {
  .layout {
    padding-top: 30px;
  }
  .title h2 {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .layout {
    padding-top: 40px;
  }
  .title h2 {
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {
  .layout {
    padding-top: 50px;
  }
  .title h2 {
    margin-bottom: 40px;
  }
}
